<!DOCTYPE html>
<html lang="en">

<head>
    
    <!-- Title Page-->
    <title></title>

    <link rel="icon" href="images/icon/uzair-logo.png" type="image/png" sizes="16x16">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="stylesheets/css/index.css" rel="stylesheet" media="all">
    
</head>
    <body> 
        <div class="jumbotron1" class="col-md-12 col-xs-12 col-sm-12">
            <button onclick="window.location='/users/login'" type="button" class="col-md-6 col-md-push-3 col-xs-6 col-xs-push-3 col-sm-6col-sm-push-3" id="button1" class="btn btn-primary"><font size="4">Login User</font><i id="symbol1" class="glyphicon glyphicon-user"></i></button> 
        </div>
    </body>
</html>